{% extends 'base.html' %} {% block content %}

<main>
    <h1> Receipts <h1>
  <table>
    <tr>
      <th>Vendor</th>
      <th>Total</th>
      <th>Tax</th>
      <th>Date</th>
      <th>Category</th>
      <th>Account</th>
    </tr>
    {% for list in receipt_list %}
    <tr>
      <td>{{list.vendor}}</td>
      <td>{{list.total}}</td>
      <td>{{list.tax}}</td>
      <td>{{list.date}}</td>
      <td>{{list.category}}</td>
      <td>{{list.account}}</td>
    </tr>
    {% endfor %}
  </table>
</main>

{% endblock content %}
