{% extends 'base.html' %} {% block content %}

<main>
    <h1>Expense Categories <h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Number of receipts</th>
    </tr>
    {% for list in category_list %}
    <tr>
      <td>{{list.name}}</td>
      <td>{{list.receipts.all|length}}</td>
    </tr>
    {% endfor %}
  </table>
</main>

{% endblock content %}